div.principal{
width: 17%;
height: 37rem;
background-color: yellow;
text-align: center;
padding: 1rem;
border-radius: 3rem;
margin: auto;
font-family: Arial, Helvetica, sans-serif
}

button{
background-color: blue;
width: 9rem;
height: 4rem;
font-size: 2rem;
color: white;
border: none;
border-radius: 9pt;
}

section#valorIMC{
color: blue;
font-size: 1.8rem;
}

section#classif{
background-color: rgb(255, 156, 255);
width: 40%;
height: 2rem;
margin: auto;
font-size: 1.4rem;    
}

/*CELULARES*/
@media screen and (max-width: 1000px){
    div.principal{
        width: 90%;
        height: 37rem;
        background-color: yellow;
        text-align: center;
        padding: 1rem;
                     
    }
}

/*TABLETS*/
@media screen and (min-width: 1001px) and (max-width: 1300px){
    div.principal{
        width: 80%;
        height: 37rem;
        background-color: yellow;
        text-align: center;
        padding: 1rem;
        height: 37rem;    
    }}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    div.principal{
        width: 30%;
        height: 37rem;
        background-color: yellow;
        text-align: center;
        padding: 1rem;
        height: 37rem;
        
}}